# 4.8: Grouping Data & Aggregating Variables

In [4]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [5]:
# Creating a path
path = r'C:\Users\zwier\anaconda_projects\15-01-2025 Instacart Basket Analysis'

In [6]:
# importing df
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge4.7.pkl'))

In [7]:
# Creating a subset
df = ords_prods_merge[:1000000]

In [15]:
# head
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,Busiest days,busiest_period_of_day
0,1107.0,38259.0,2.0,1.0,11.0,7.0,1.0,7.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Busiest days,Most orders
1,5319.0,196224.0,65.0,1.0,14.0,1.0,1.0,3.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Busiest days,Most orders
2,7540.0,138499.0,8.0,0.0,14.0,7.0,1.0,4.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Busiest day,Busiest days,Most orders
3,9228.0,79603.0,2.0,2.0,10.0,30.0,1.0,2.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Regularly busy,Most orders
4,9273.0,50005.0,1.0,1.0,15.0,0.0,1.0,30.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Busiest days,Most orders

In [17]:
# shape
df.shape

(1000000, 17)

## Grouping Data with pandas

In [20]:
# Group by
df.groupby('product_name')

## To recap, you should always use the groupby() function as part of a series of steps, namely, the following:
### 1. Split the data into groups based on some criteria.
### 2. Apply a function to each group separately.
### 3. Combine the results into a dataframe or alternative data structure or create a new column in the current dataframe

## Aggregating Data with agg()

### Performing a Single Aggregation
### 1. Split the data into groups based on “department_id.”
### 2. Apply the agg() function to each group to obtain the mean values for the “order_number” column.

In [35]:
# Department with agg()
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.562844
2.0              17.518895
3.0              16.110071
4.0              17.537934
5.0              14.894521
6.0              16.658449
7.0              17.074484
8.0              14.942021
9.0              15.447580
10.0             18.681852
11.0             15.333271
12.0             14.327957
13.0             16.587381
14.0             16.957587
15.0             16.153766
16.0             17.805828
17.0             15.602964
18.0             19.674252
19.0             16.924344
20.0             16.292631
21.0             25.535596

In [33]:
# without agg()
df.groupby('department_id')['order_number'].mean()

department_id
1.0     15.562844
2.0     17.518895
3.0     16.110071
4.0     17.537934
5.0     14.894521
6.0     16.658449
7.0     17.074484
8.0     14.942021
9.0     15.447580
10.0    18.681852
11.0    15.333271
12.0    14.327957
13.0    16.587381
14.0    16.957587
15.0    16.153766
16.0    17.805828
17.0    15.602964
18.0    19.674252
19.0    16.924344
20.0    16.292631
21.0    25.535596
Name: order_number, dtype: float64

In [39]:
# the same but different syntax
df.groupby('department_id').order_number.mean()

department_id
1.0     15.562844
2.0     17.518895
3.0     16.110071
4.0     17.537934
5.0     14.894521
6.0     16.658449
7.0     17.074484
8.0     14.942021
9.0     15.447580
10.0    18.681852
11.0    15.333271
12.0    14.327957
13.0    16.587381
14.0    16.957587
15.0    16.153766
16.0    17.805828
17.0    15.602964
18.0    19.674252
19.0    16.924344
20.0    16.292631
21.0    25.535596
Name: order_number, dtype: float64

### Performing Multiple Aggregations

In [50]:
# mean,min,max,median
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max','median']})

              order_number
                      mean  min   max median
department_id
1.0              15.562844  1.0  99.0   10.0
2.0              17.518895  1.0  96.0   11.0
3.0              16.110071  1.0  99.0   10.0
4.0              17.537934  1.0  99.0   11.0
5.0              14.894521  1.0  99.0    9.0
6.0              16.658449  1.0  99.0   10.0
7.0              17.074484  1.0  99.0   11.0
8.0              14.942021  1.0  98.0   10.0
9.0              15.447580  1.0  99.0   10.0
10.0             18.681852  1.0  99.0   12.0
11.0             15.333271  1.0  99.0   10.0
12.0             14.327957  1.0  99.0    9.0
13.0             16.587381  1.0  99.0   10.0
14.0             16.957587  1.0  99.0   11.0
15.0             16.153766  1.0  99.0   10.0
16.0             17.805828  1.0  99.0   11.0
17.0             15.602964  1.0  99.0   10.0
18.0             19.674252  1.0  99.0   14.0
19.0             16.924344  1.0  99.0   11.0
20.0             16.292631  1.0  99.0   10.0
21.0             25.535596  1.0  98.0   19.0

## Aggregating Data with transform()

## Three-step process
### 1. Split the data into groups based on the “user_id” column.
### 2. Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
### 3. Create a new column, “max_order,” into which you’ll place the results of your aggregation.

In [63]:
# 3 steps in 1 line of code ;) 
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [112]:
# results
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,Busiest days,busiest_period_of_day,max_order
0,1107.0,38259.0,2.0,1.0,11.0,7.0,1.0,7.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Busiest days,Most orders,5.0
1,5319.0,196224.0,65.0,1.0,14.0,1.0,1.0,3.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Busiest days,Most orders,100.0
2,7540.0,138499.0,8.0,0.0,14.0,7.0,1.0,4.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Busiest day,Busiest days,Most orders,24.0
3,9228.0,79603.0,2.0,2.0,10.0,30.0,1.0,2.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Regularly busy,Most orders,6.0
4,9273.0,50005.0,1.0,1.0,15.0,0.0,1.0,30.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Busiest days,Most orders,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,197804.0,84766.0,22.0,1.0,14.0,5.0,1.0,2.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Busiest days,Most orders,42.0
96,199870.0,55962.0,18.0,0.0,18.0,12.0,1.0,1.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Busiest day,Busiest days,Average orders,23.0
97,200390.0,1540.0,4.0,2.0,0.0,7.0,1.0,10.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Regularly busy,Fewest orders,29.0
98,204112.0,65051.0,12.0,4.0,10.0,30.0,1.0,6.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Least busy,Slowest days,Most orders,17.0
99,205631.0,166360.0,7.0,3.0,8.0,12.0,1.0,16.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both,Regularly busy,Slowest days,Average orders,13.0

### A new “max_order” column has appeared at the end of your dataframe. Each value in this column corresponds to the maximum number of orders made by each user ID

In [150]:
# This command tells pandas not to assign any options regarding the maximum number of rows to display
# pd.options.display.max_rows = None

In [152]:
# This command tells pandas to assign 40 maximum number of rows to display
# pd.options.display.max_rows = 20

## Deriving Columns with loc()

In [121]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [122]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [123]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [124]:
# Value check
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    16381472
Loyal customer      10679578
New customer         5580218
NaN                       11
Name: count, dtype: int64

In [154]:
# only importan colums
ords_prods_merge[['user_id', 'loyalty_flag', 'max_order']].head(60)

     user_id      loyalty_flag  max_order
0    38259.0      New customer        5.0
1   196224.0    Loyal customer      100.0
2   138499.0  Regular customer       24.0
3    79603.0      New customer        6.0
4    50005.0  Regular customer       23.0
..       ...               ...        ...
55   11448.0  Regular customer       22.0
56  162795.0  Regular customer       17.0
57  134130.0  Regular customer       24.0
58  178504.0  Regular customer       37.0
59   80421.0      New customer       10.0

[60 rows x 3 columns]